# Database configuration
# POSTGRES_ROOT_PASSWORD=your_super_secret_password
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# NestJS app configuration
APP_PORT=3000
DB_HOST=db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=password
DB_DATABASE=db_name
NODE_ENV=development
SALT_ROUNDS=number
CIPER_SALT=somesalt
CIPER_BITES=12345678901234567890123456789012
CIPER_ALGORITHM=algorithm
PASSWORD_PEPPER=somepepper

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379