# Database configuration
# POSTGRES_ROOT_PASSWORD=your_super_secret_password
DB_NAME=burger_delivery
DB_USER=root
DB_PASSWORD=

# NestJS app configuration
APP_PORT=3000
DB_HOST=cockroachdb
DB_PORT=26257
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=burger_delivery
NODE_ENV=development


CIPER_SALT=somesalt
PHONE_SALT=wwwwasd
PASSWORD_PEPPER=somepepper
JWT_SECRET_KEY=jsonwebtokenssecretkey
MAILER_SEND_TOKEN=token
GOOGLE_MAPS_KEY=key

CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=sekret
# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379



